<div class="modal fade" id="mediumModal" tabindex="-1" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Distributor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reset(form)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="form" novalidate>
                <div class="modal-body">
                    <div>
                        <div class="card">
                            <div class="card-header"><strong>{{header}}</strong></div>
                            <div class="card-body card-block">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class=" form-control-label">Distributor Name<span class="error">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-briefcase"></i></div>
                                                <input class="form-control" name="distributorName" maxlength="25" ng-model="oDistributor.DistributorName" ng-class="{ 'has-error' : form.distributorName.$invalid && !form.distributorName.$pristine }" required tabindex="1" autocomplete="nope">
                                            </div>
                                            <small ng-show="form.distributorName.$invalid && !form.distributorName.$pristine" class="error">Distributor name is required.</small>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class=" form-control-label">Mobile No<span class="error">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                                <input class="form-control" name="mobile" only-digits maxlength="10" ng-model="oDistributor.MobileNo" ng-class="{ 'has-error' : form.mobile.$invalid && !form.mobile.$pristine }" required tabindex="2" autocomplete="nope">
                                            </div>
                                            <small ng-show="form.mobile.$invalid && !form.mobile.$pristine" class="error">Mobile no is required.</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class=" form-control-label">Email</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                                <input class="form-control" name="email" maxlength="50" ng-model="oDistributor.Email" tabindex="3" autocomplete="nope">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="state" class=" form-control-label">State<span class="error">*</span></label>
                                            <select id="state" name="state" data-placeholder="Choose a State..." class="standardSelect form-control" tabindex="4" ng-class="{'has-error': form.state.$error.required}" ng-model="ddl.selectedState" ng-required="true"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="district" class=" form-control-label">District<span class="error">*</span></label>
                                            <select id="district" name="district" data-placeholder="Choose a District..." class="standardSelect form-control" tabindex="5" ng-class="{'has-error': form.district.$error.required}" ng-model="ddl.selectedDistrict" ng-required="true"></select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="city" class=" form-control-label">City<span class="error">*</span></label>
                                            <select id="city" name="city" data-placeholder="Choose a City..." class="standardSelect form-control" tabindex="6" ng-class="{'has-error': form.city.$error.required}" ng-model="ddl.selectedCity" ng-required="true"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class=" form-control-label">Address<span class="error">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                                <textarea class="form-control" name="address" maxlength="250" ng-model="oDistributor.Address" ng-class="{ 'has-error' : form.address.$invalid && !form.address.$pristine }" required tabindex="7" autocomplete="nope"></textarea>
                                            </div>
                                            <small ng-show="form.address.$invalid && !form.address.$pristine" class="error">Address is required.</small>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <div class="input-group float-right" style="padding-top: 50px;">
                                                <span style="padding-right:20px;">Active</span> <label class="switch switch-text switch-info switch-pill"><input type="checkbox" class="switch-input" ng-model="oDistributor.IsActive"> <span data-on="On" data-off="Off" class="switch-label"></span> <span class="switch-handle"></span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="reset(form)">Cancel</button>
                    <button id="delete" type="button" class="btn btn-danger" data-dismiss="modal" ng-click="delete(form)" ng-show="isDelete">Delete</button>
                    <button type="submit" ng-click="submit(form)" ng-disabled="form.distributorName.$invalid || form.mobile.$invalid || form.address.$invalid || form.state.$pristine || form.district.$pristine  || form.city.$pristine" class="btn btn-primary" data-dismiss="modal">{{submitTxt}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
