<div class="modal fade" id="mediumModal" tabindex="-1" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Dispatch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reset(form)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="form" novalidate>
                <div class="modal-body">
                    <div>
                        <div class="card">
                            <div class="card-header"><strong>{{header}}</strong></div>
                            <div class="card-body card-block">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="client" class=" form-control-label">Client<span class="error">*</span></label>

                                            <select id="client" name="client" data-placeholder="Choose a Client..." class="standardSelect form-control" tabindex="1" ng-class="{'has-error': form.client.$error.required}" ng-model="ddl.selectedClient" ng-required="true" ng-disabled="isEditable"></select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="product" class=" form-control-label">Product<span class="error">*</span></label>
                                            <select id="product" name="product" data-placeholder="Choose a Product..." class="standardSelect form-control" tabindex="2" ng-class="{'has-error': form.product.$error.required}" ng-model="ddl.selectedProduct" ng-required="true" ng-disabled="isEditable"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="order" class=" form-control-label">Order<span class="error">*</span></label>

                                            <select id="order" name="order" data-placeholder="Choose a Order..." class="standardSelect form-control" tabindex="3" ng-class="{'has-error': form.order.$error.required}" ng-model="ddl.selectedOrder" ng-required="true" ng-disabled="isEditable"></select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group" ng-show="isEditable">
                                            <label class=" form-control-label">Dispatch Number</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-tag"></i></div>
                                                <input class="form-control" ng-model="DispatchNumber" readonly>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class=" form-control-label">Inventory<span class="error">*</span></label>
                                            <select id="inventory" name="inventory" data-placeholder="Choose a inventory..." multiple class="standardSelect" tabindex="4" ng-model="ddl.selectedInventory" ng-disabled="isEditable">
                                                <option value=""></option>
                                                <optgroup label="Device" id="optDevice"></optgroup>
                                                <optgroup label="Spare" id="optSpare"></optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="state" class=" form-control-label">State<span class="error">*</span></label>
                                            <select id="state" name="state" data-placeholder="Choose a State..." class="standardSelect form-control" tabindex="5" ng-class="{'has-error': form.state.$error.required}" ng-model="ddl.selectedState" ng-required="true" ng-disabled="isEditable && IsDispatched"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="district" class=" form-control-label">District<span class="error">*</span></label>
                                            <select id="district" name="district" data-placeholder="Choose a District..." class="standardSelect form-control" tabindex="6" ng-class="{'has-error': form.district.$error.required}" ng-model="ddl.selectedDistrict" ng-required="true" ng-disabled="isEditable && IsDispatched"></select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="city" class=" form-control-label">City<span class="error">*</span></label>
                                            <select id="city" name="city" data-placeholder="Choose a City..." class="standardSelect form-control" tabindex="7" ng-class="{'has-error': form.city.$error.required}" ng-model="ddl.selectedCity" ng-required="true" ng-disabled="isEditable && IsDispatched"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class=" form-control-label">Dispatch Date</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                                <input type="date" class="form-control" name="date" tabindex="8" ng-model="DispatchDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <div class="input-group float-right" style="padding-top: 40px;" ng-show="isInvoiceAvailable">
                                                <span style="padding-right:20px;">Dispatched</span> <label class="switch switch-text switch-info switch-pill"><input type="checkbox" class="switch-input" tabindex="9" ng-model="Dispatched" ng-disabled="isEditable && IsDispatched"> <span data-on="Yes" data-off="No" class="switch-label"></span> <span class="switch-handle"></span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class=" form-control-label">Shipping Address<span class="error">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-truck"></i></div>
                                                <textarea class="form-control" name="address" maxlength="250" ng-model="ShippingAddress" tabindex="10" ng-class="{ 'has-error' : form.address.$invalid && !form.address.$pristine }" required ng-disabled="isEditable && IsDispatched" autocomplete="off"></textarea>
                                            </div>
                                            <small ng-show="form.address.$invalid && !form.address.$pristine" class="error">Shipping address is required.</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="reset(form)">Cancel</button>
                    <button id="delete" type="button" class="btn btn-danger" data-dismiss="modal" ng-click="delete(form)" ng-show="isEditable && !IsDispatched && !isDraftAvailable">Delete</button>
                    <button type="submit" ng-click="submit(form)" ng-disabled="form.client.$pristine || form.product.$pristine || form.order.$pristine || form.address.$invalid || form.state.$pristine || form.district.$pristine  || form.city.$pristine || inventory_invalid" class="btn btn-primary" data-dismiss="modal">{{submitTxt}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
