<html>
<body>
    <div style="padding-left:75px">
        <table>
            <tbody>
                <tr><td style="font-size:20px">From:</td></tr>
                <tr><td style="font-size:20px">{company_name}</td></tr>
                <tr><td style="font-size:20px">{company_address}</td></tr>
                <tr><td style="font-size:20px">{company_warehouse}</td></tr>
                <tr><td style="font-size:20px">Contact: {company_phone_fax}</td></tr>
            </tbody>
        </table>
    </div>

    <br />
    <br />
    <br />
    <br />

    <div style="padding-left:200px">
        <table>
            <tbody>
                <tr><td style="font-size:30px">To:</td></tr>
                <tr><td style="font-size:30px">{client_name}</td></tr>
                <tr><td style="font-size:30px">{client_person}</td></tr>
                <tr><td style="font-size:30px">{client_address}</td></tr>
                <tr><td style="font-size:30px">Contact: +91-{client_mobileNo}</td></tr>
            </tbody>
        </table>
    </div>
</body>
</html>
